h1 form .formBtn {
	width: 100%;
}

li:hover {
	background-color: #DADADA;
}

.container {
	display: flex;
	flex-wrap: wrap;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.cat-menu {
	border-right: solid 5px;
}

.catPorfile,.adminContainer {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-left: 10px;
	margin-bottom: 10px;
}

#adminBtn {
	width: 50%;
}

.adminSettingContainer {
	width:66.6666%;
}

.adminSwitch {
	width:33.3333%;
}

.inputCatSettins-disable {
	display:none;
	width: 100%;
}

.inputCatSettins-enable {
	display:flex;
	flex-wrap: wrap;
	width: 100%;
}

.leftMenuContainer {
	width: 20%;
}

form label {
	width:50%;
	text-align: left;
}
form input {
	width: 50%;
}

form button {
	width:80px;
}

.mainWindowContainer {
	display: flex;
	flex-wrap: wrap;
	width: 80%;
}

#catHeader,#catPic,#catImage,#catClickNum {
	width:100%;
}

.clickNumContainer,.imageContainer {
	width:50%;
}
.cat-item {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin: 10px;
}

#clickNumText {
	width:100%;
	margin-left: 10px;
}